<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="">Messages</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="float: right">
 
          <a class="nav-link" routerLink="/create">Create Post</a>
          <a class="nav-link" routerLink="/login">Login</a>
          <a class="nav-link" routerLink="/signup">Signup</a>
       
      
    </div>
  </nav>